<table id="slow-requests" class="table">
  <thead>
  <tr>
    <th>请求时间</th>
    <th>action</th>
    <th>总耗时</th>
    <th>db_time</th>
    <th>view time</th>
    <th>host</th>
    <th>remote_addr</th>
  </tr>
  </thead>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#slow-requests').DataTable({
      ajax: '<%= index_path %>.json',
      iDisplayLength: 25,
      ordering: false
    })

  })
</script>
