<table id="slow-requests" class="table">
  <thead>
  <tr>
    <th>请求时间</th>
    <th>action</th>
    <th>总耗时</th>
    <th>db_time</th>
    <th>view time</th>
    <th>host</th>
    <th>remote_addr</th>
  </tr>
  </thead>
  <%# @slow_requests.each do |r| %>
<!--    <tr>-->
      <%# request = r.request %>
<!--      <td>-->
        <%#= link_to time_label(request.started), show_path(id: request.request_id)%>
<!--      </td>-->
<!--      <td><%#= link_to request.action_name, action_info_path(action_name: request.action_name)%></td>-->
<!--      <td><%#= sec_str request.during %></td>-->
<!--      <td><%#= sec_str request.db_runtime %></td>-->
<!--      <td><%#= sec_str request.view_runtime%></td>-->
<!--      <td><%#= request.host %></td>-->
<!--      <td><%#= request.remote_addr %></td>-->
<!--    </tr>-->
  <%# end %>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#slow-requests').DataTable({
      ajax: '<%= index_path %>.json',
      iDisplayLength: 25,
      ordering: false
    })

  })
</script>
