<style>
  .container{
    width: 90%;
    min-width: 1200px;
  }
</style>
<table id="slow-requests" class="table" style="width: 100%">
  <thead>
  <tr>
    <th>请求时间</th>
    <th>ActionName</th>
    <th>TotalTime</th>
    <th>DB</th>
    <th>View</th>
    <th>HTTP</th>
    <th>Memory(Mb)</th>
    <th>server</th>
    <th>ip</th>
  </tr>
  </thead>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#slow-requests').DataTable({
      ajax: '<%= index_path %>.json',
      iDisplayLength: 25,
      ordering: false
    })

  })
</script>
