/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
footer{
  text-align: center;
  padding: 10px;
  border-top: 1px solid #999999;
}
a.navbar-brand.active{
  color: #00AEEF !important;
}
#page-container{
  min-height: 80vh;
}
.select-apm-date{
  width: auto;
  float: right;
  margin-top: 8px;
}
.select-apm-date>select{
  display: inline-block;
  width: auto;
}
.sql{
  max-width: 300px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  color: #00AEEF;
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
}
